BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
BreakBeforeBraces: Linux
ColumnLimit: 120
IndentCaseLabels: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
AllowShortStructsOnASingleLine: false
BreakBeforeBraces: Allman
PointerAlignment: Right
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
SortIncludes: false
SpaceBeforeParens: ControlStatements